<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add a song</title>
</head>
<body>
<h1>New song</h1>
<form action="#" th:action="@{/savesong}" method="post" th:object="${song}">
	<p>Title: <input type="text" th:field="${song.title}"/> </p>
	<p>Artist: <input type="text" th:field="${song.artist}"/> </p>
	<p>Album: <input type="text" th:field="${song.album}"/> </p>
	<p>Year: <input type="text" th:field="${song.year}"/> </p>
	<p>Genre: <input type="text" th:field="${song.genre}"/> </p>
	<input type="submit" class="btn-success" value="Save"></input>

</form>

 
</body>
</html>

